<div class="banner-image">
       <img src="../../assets/img/banner-img_b2.png" alt="banner-image"/>   
       

        <div class="container  text_wrapper">
          <div class="image-content">
            Welcome To GreenHance <br><br> <h2>Step Towards Green Earth</h2>
          </div>
      </div>
    </div>
      <div class="container about-greenhnace">
        <div class="row">
         <div class="col-md-12">
               <p>
       Greenhance Solution is an initiative in the field of organic waste managament to reduce the adverse effects of waste on health
       , the environment or aesthetics . 
       GreenHance Solution is a start up based out of Bhubaneswar in the field of organic waste managament. 
        </p>
                  <p>
                       <a class="button_sliding_bg" routerLink="/About" title="Know More" style="text-align:center">KNOW MORE</a>
                  </p>
         </div>
        </div>
       </div>
       
       <principle></principle>
       <app-waste-compost></app-waste-compost>
       <products></products>
       
       
       