
<section id="footer">
<div class="container-fluid">
<div class="row footer-margin">
  <div class="col-lg-10  col-lg-offset-1">
      <div class="col-xs-12 col-md-2 footer-logo">
          
          <div class="visible-lg visible-md">
            <div>
                <img src="../../assets/img/main-logo.png">
            </div>
          </div>
      </div>
          <div class="col-xs-12 col-md-8 col-md-offset-1 footer-content">
              <div class="row navigation-links">
                  <div class="hidden-lg hidden-md mobile-view visible-xs">
                      <div class="col-xs-12 col-md-2 text-center"><img src="../../assets/img/main-logo.png"></div>
                      <a routerLink="/home" class="col-xs-12 col-md-2 text-center">GreenHance.com</a>
                      <a routerLink="/About" class="col-xs-12 col-md-2 text-center">About Us</a>
                      <a routerLink="/contact-us" class="col-xs-12 col-md-2 text-center">Contact Us</a>
                      <a href="" class="col-xs-12 col-md-2 text-center">Legal Disclaimer</a>
                      <a href="" class="col-xs-12 col-md-2 text-center">Privacy Policy</a>
                      <a href="" target="_blank" class="col-xs-12 col-md-2 text-center">Help Center</a>
                  </div>
                  <div class="visible-lg visible-md">
                      <a routerLink="/home">GreenHance.com</a> |
                      <a routerLink="/About"> About Us</a> |
                      <a routerLink="/contact-us">Contact Us</a> |
                      <a href="">Legal Disclaimer</a> |
                      <a href="">Privacy Policy</a> |
                      <a href="" target="_blank">Help Center</a>
                  </div>
              </div>
              <div class="row">
                  
                
              </div><br>
              <!-- <div class="row user-aggrement">
                  <div class="hidden-lg hidden-md mobile-view">
                      Use of this website and any information contained herein is governed by the <a href="/user-agreement" target="_blank">sdfsdfdsf</a>sdsdfdsfsdf
                  </div>
                  <div class="visible-lg visible-md">
                      Use of this website and any information contained herein is governed by the <a href="/user-agreement" target="_blank">sdsfdsfdsf</a> Misrepresenting yourself as a physician violates federal statutes and laws in all 50 states. Only physicians or their authorized representatives are allowed to manage the physician's profile on Healthgrades. Violators will be prosecuted to the fullest extent of the law.
                  </div>
              </div> -->
          </div>
  </div>

</div>
</div>
</section>
