<div class="container waste-compost">
  <h3>
    Following effective waste management practices can provide subsequent generations a more robust economy, a fairer and more inclusive society and a cleaner environment
  </h3>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <h2 class="text-center">Non-Composible(Prohibited) Organic Waste</h2>
      </div>
      <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
        <h2 class="text-center">Composible(Prohibited) Organic Waste </h2>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="useimages"><img alt="..." class="img-thumbnail redborder" src="../../assets/img/waste/robber.png"><span>Rubber,Metal and Glass</span></div>
      
      <div class="useimages"><img alt="..." class="img-thumbnail redborder" src="../../assets/img/waste/bigbones.jpeg"><span>Big Bones</span></div>
      
      <div class="useimages"><img alt="..." class="img-thumbnail redborder" src="../../assets/img/waste/batteries.jpg"><span>Batteries</span></div>
      
      <div class="useimages"><img alt="..." class="img-thumbnail redborder" src="../../assets/img/waste/tape.jpeg"><span>Cloth/Tape</span></div>
      
      <div class="useimages"><img alt="..." class="img-thumbnail redborder" src="../../assets/img/waste/coconut.jpg"><span>Coconut Shell</span></div>
      
      <div class="useimages"><img alt="..." class="img-thumbnail redborder" src="../../assets/img/waste/plastic_bags.jpg"><span>Plastic Bags</span></div>
      
      <div class="useimages"><img alt="..." class="img-thumbnail redborder" src="../../assets/img/waste/medicines.jpg"><span>Medicine/Chemical</span></div>
      
      <div class="useimages"><img alt="..." class="img-thumbnail redborder" src="../../assets/img/waste/inorranic.jpeg"><span>Any Inorganic Material</span></div>
    </div>
    <div class="row hidden-md hidden-lg">
      <div class="col-sm-6 col-lg-6">
        <h2 class="text-center">Composible(Prohibited) Organic Waste </h2>
      </div>
    </div>
    <div  class="col-md-6 col-lg-6">
      <div class="useimages"><img alt="..." class="img-thumbnail greenborder" src="../../assets/img/waste/fruits.jpeg"><span>Fruits and Vegetables</span></div>
        
      <div class="useimages"><img alt="..." class="img-thumbnail greenborder" src="../../assets/img/waste/fish.png"><span>Poultry Fish</span></div>
      
      <div class="useimages"><img alt="..." class="img-thumbnail greenborder" src="../../assets/img/waste/egg.png"><span>Egg and Crab shells</span></div>
      
      <div class="useimages"><img alt="..." class="img-thumbnail greenborder" src="../../assets/img/waste/bakery.png"><span>Bakery Food</span></div>
      
      <div class="useimages"><img alt="..." class="img-thumbnail greenborder" src="../../assets/img/waste/garden.png"><span>Garden Waste</span></div>  
      <div class="useimages"><img alt="..." class="img-thumbnail greenborder" src="../../assets/img/waste/chicken.png"><span>Chicken and Meat</span></div>
      
      <div class="useimages"><img alt="..." class="img-thumbnail greenborder" src="../../assets/img/waste/leftover_meal.jpeg"><span>Leftover Meals</span></div>
      <div class="useimages"><img alt="..." class="img-thumbnail greenborder" src="../../assets/img/waste/fastfood.jpeg"><span>Fast Food</span></div>
    </div>
  </div>
</div>
