<div class="container-fluid" id="about">
    <div class="row about-section">
      <h1 class="title">About Us</h1>
      <div class="row about-content">
          <div class="col-md-6 about-image">
          <img src="../../assets/img/about-png.PNG">
         </div>
         
         <div class="col-md-6 about-text">
         <p>
            GreenHance provides effective and unique solution for all kind of biodegradable waste into compost.
            We are actively encouraging people to stop dumping waste and rather utilize our solutions to keep our environment safe from poisonous liquid called "LEACHATE" formed by decomposing of organic waste. If this liquid mixes with surface and ground water, the whole water will be contaminated and get polluted. This way both environment and water gets polluted which can be avoided by using our simple solutions. 
         </p>
         <div class="factors">
             <strong>Factors that make us unique:</strong>
             <p><span class="hightlight-text">Winner</span> of National and International awards in recognition of our innovative environmental technologies.</p>
             <p><span class="hightlight-text">Passionate</span> to deliver exceptional value to our customers and create a significant impact on the environment</p>
             <p><span class="hightlight-text">Committed </span>to innovation, long-term brand development, disciplined sales execution and focused cost management.</p>
         </div>
      </div>
    </div>
  </div>
</div>

  

 