#about {
   background-color: #d4dda7;
    background-size: cover;
    p {
        font-size: 17px;
    }
}

.about-section {   
    .title {
        position: absolute;
        text-align: center;
        left:40%;
        z-index: 1;
        padding-bottom: 30px;
        font-weight: 600;
    }
    .about-content {
        padding:40px;
        padding-top:100px;
        .about-image {
            img {
                display: block;
                max-width: 100%;
               
                width: 554px;
    height: 463px;
    margin-top: -30px;
               
            }
        }
        .about-text {
            p:last-child {
                text-align: left !important;
            }
        }
    }
    padding:30px;
    border-top: 1px solid lightgray;
    .hightlight-text {
        color: #41a873;
        font-weight: 600;
    }
    .factors {
        p {
            padding-top:10px;
        }
    }
}
@media(max-width:992px) {
    .about-section {
        padding: 25px;
        .title {
            left: 29%;
            padding-top: 21px;
        }
        .about-content {
            padding:0px;
            .about-image {
                padding-bottom: 50px;
                padding-top:100px;
                height:100% !important;
            }
        }
    }
}