<section id="oper-principle">
  <div class="container-fluid">
    <div class="row">
    <div class="col-lg-10  col-lg-offset-1">
      <h2 class="text-center">
         Services
      </h2>
      <hr class="small">
      <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-6">
           <div class="service-items">
            <h3 class="text-center">Why GreenHance?</h3>
            <div class="animation-element slide-left greencontent in-view"> 
              <p>
                In this urban world,pollution and growing volumes of solid & hazardous waste are major threats
                to environment and mankind. Greenhance has come up with new technology which solved
                the problem of disposal of bio-degradble waste which is the major part of solid waste 
                
                
                Greenhance is capable of decomposing of ll kinds of bio-degradble waste which includes
                food waste , garden waste, poultry waste, sludge etc.. into compost with 24-72hrs
                with 85-90% of volume,reduction. Greenhance is so compact that it can just fit in a 
                car parking space. The aesthetic design of machne makes it rodents ,flues and athogen free.
              </p>

            </div>
           </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="service-items">
                <h3 class="text-center">How GreenHance Works?</h3>
                <div class="animation-element slide-left greencontent in-view"> 
                  <p>
                    Greenhance OWC(Organic Waste COnvertor) is a fully automatic and highly compact
                    composting machine where special kind of micro organism is used to breakdown & 
                    decompose. The entire process is aerobs, natural and biological. Our special
                     microorganisms thrive in high temperature and are effective even in high acidic or salty conditions. Greenhance
                     has a "U-shaped" composting tank with a humidity sensor, heater mixing blades
                     and an exhaust system. When organic waste is added to it moistures is sensed by 
                     the humidity sensor due to which the heater turns ON and the composting tank gets heated.
                     
                     Due to this, the water contect in the organic waste is evaporated and it 
                     
                     goes out to the atmosphere as water vapour through the exhaust system. As any organic contans 
                     70-80% water content. we achieve 70-80% volume reduction at this stage itself.
                     
                     At the same time, our special microorganisms then decompose the organic
                     waste into compost and this happens within 24 hours. That's how we achive 85-90% volume 
                     reduction. The process is completely noiseless as there is no crushing grinding involved.
                    
                  </p>
    
                </div>
            </div>
         </div>
      </div>
    </div>
    </div>

  </div>

</section>
