<div id="contact">
  <h1 class="well" style="text-align:center">
    Contact Us
  </h1>
	<div class="container">
			<div class="alert alert-success" *ngIf="successMessage">
					<strong>Success!</strong> {{successMessage}}
			</div>
			<div class="col-md-6 contact-address">			
					<div class="address top40 wow fadeIn animated" style="text-align:left;">
									<h4 class="titleborderh2" style="font-family: 'Raleway', sans-serif;font-size: 22px;
							font-weight: bold;color:#41a873;">India</h4>
					<br>
					 <div class="locations">
										<div><img src="../../assets/img/home.png" style="height: 16px;">&nbsp;&nbsp;&nbsp;<h5 style="font-family:sans-serif;font-size:18px;text-align: left;margin: -19px 0 5px 30px;"> GreenHancePVT LTD<br>
											G-203,Acropolis,Gothapatna<br>
											Bhubaneswar,Odisha – 751003. India
										</h5></div>
										
									</div>
									<br>
									<div class="locations">
					
									 <div> <img style="height: 20px;" src="../../assets/img/phone.png"><h5 style="font-family:sans-serif;font-size:18px;text-align:left;margin: -21px 0 5px 30px;">For Sales inquiries contact
										<br>Odisha - Mr. Sangram Mohapatra (+91) 9945215385
										<br>Bangalore - Mr. Arabind Swain. (+91) 9986851528
								</h5></div>
										
									</div>
									<br>
									<div class="locations">
										<div> <img src="../../assets/img/email.png" style="height: 14px;"><h5 style="font-family:sans-serif;font-size:18px;text-align: left;margin: -21px 0 5px 30px;"><a href="#"></a> greenhancesolutions@gmail.com</h5></div>
									</div>
					
								</div>			
		</div>
					
		<div class="col-md-6">
				<div class="form-area"> 
					<form [formGroup]="contactForm" (ngSubmit)= "onSubmit()">
						<br style="clear:both">
						<h4 style="margin-bottom: 25px; text-align: center;">Please fill in the below form. We will get back to you.</h4>
						<div class="form-group">
										<input type="text" class="form-control" placeholder="Name" formControlName="name" required>
										
						</div>
						<div class="form-group">
										<input type="email"  class="form-control" placeholder="Email"  formControlName="email">
						</div>
						<div class="form-group">
										<input type="phone"  class="form-control" placeholder="Mobile Number"  formControlName="mobileNum">
						</div>
						<div class="form-group">
										<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject"  formControlName="subject">
						</div>
						<div class="form-group">
										<textarea class="form-control" type="textarea"  placeholder="Message"  maxlength="140" rows="7" formControlName="message"></textarea>              
						</div>
						<div style="text-align: center;padding-bottom: 30px">
							<button type="submit" class="button_sliding_bg" [disabled]="!contactForm.valid">Submit Form</button>
						</div>
					</form>
				</div>
			</div>
	</div>
</div>