#contact {
    border-bottom: 1px solid #d2e0df;
    h1 {
        font-weight: 600;
    }
    .bottom80 {
        padding-bottom: 60px;
    }
    .contact-address {
        padding-top:65px;
    }
}
.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
}
.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    color: #dc3545;
}
  @media(max-width:992px) {
      #contact {
        .contact-address {
            padding-top:0px;
        }
      }
  }