#contact {
    border-bottom: 1px solid #d2e0df;
    .bottom80 {
        padding-bottom: 60px;
    }
    .contact-address {
        padding-top:78px;
    }
}
// .ng-valid[required], .ng-valid.required  {
//     border-left: 5px solid #42A948; /* green */
//   }
  
//   .ng-invalid:not(form):not(.ng-dirty)  {
//     border-left: 5px solid #a94442; /* red */
//   }
  @media(max-width:992px) {
      #contact {
        .contact-address {
            padding-top:0px;
        }
      }
  }