<section id="view-products">
  <div class="container-fluid">
    <div class="row">
    <div class="col-lg-10  col-lg-offset-1">
      <h2 class="text-center">
        View Our Products
      </h2>
      <hr class="small">
      <div class="row text-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
           <div class="service-items">
            <h4 class="text-center">Our Products are custom designed and meet the composting needs of variety of Industries ranging from small scale to large industries.</h4>
            
           </div>
        </div>
       
      </div>
      <div class="product-list"> 
             
      <div class="row products-list-row hidden-xs hidden-sm">
         <div class="col-md-2">Products</div>
         <div class="col-md-2">Available Units</div>
         <div class="col-md-2">Expires on</div>
         <div class="col-md-2">Price</div>
         <div class="col-md-4">Hide Image</div>
      </div>
      <div class="row products-list-col" *ngFor="let l of productsList" (click)="onSelectProduct(l)" >
        <div class="col-md-2 product-code" routerLink = "../product/{{l.productName}}">{{l.productName}}</div>
        <div class="col-md-2">{{l.availableUnits}}</div>
        <div class="col-md-2">{{l.expiryDate}}</div>
        <div class="col-md-2">{{l.price}}</div>
        <div class="col-md-4"><img src={{l.imageUrl}}></div>
       </div>
        

         </div>
         
         
    </div>
    </div>
   

  </div>
  

</section>

