

<section *ngIf="selectedProduct" id={{selectedProduct.productId}} class="model-description">
   
  <div class="container-fluid">
      <button (click)="goBack()" class="go-back">>></button>
   <div class="row">
     <div class="col-lg-10">
    <h1 *ngIf="selectedProduct"> MODEL:{{selectedProduct.productName}}</h1>
     </div>
   </div>
   <div  class="row product-details">
    <div class="col-lg-12">
     <div class="col-lg-3 col-md-3 col-sm-12 col-xl-12 col-name-desc img_pos">
       <img src="../../assets/img/product_img.png" alt=".."><br>
       <!-- <img src="../../assets/img/product_img1.png" alt=".."> -->
     </div>
     <div class="col-lg-4 col-md-5 col-sm-12 col-xl-12 col-name-desc">
      <div class="tableheading">
        TECHNICAL SPECIFICATION</div>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>CAPACITY: {{selectedProduct.technicalDetails[0].capacity}} per day</td>
              <td>DIMENSION: {{selectedProduct.technicalDetails[0].dimension}}</td>
            </tr>
            <tr>
              <td>OPERATION: {{selectedProduct.technicalDetails[0].operation}}</td>
              <td>CONTROL SYSTEM: {{selectedProduct.technicalDetails[0].controlSystem}}</td>
            </tr>
            <tr>
              <td>HEATING METHOD: {{selectedProduct.technicalDetails[0].heatingMethod}}</td>
              <td>GEAR BOX (ROSSI):{{selectedProduct.technicalDetails[0].gearBox}}</td>
            </tr>
            <tr>
              <td>POWER RATING: {{selectedProduct.technicalDetails[0].powerRating}}</td>
              <td>BODY MAKE: {{selectedProduct.technicalDetails[0].bodyMake}}</td>
            </tr>
            <tr>
              <td>DECOMPOSING METHOD: {{selectedProduct.technicalDetails[0].decomposingMethod}}</td>
              <td>POWER CONSUMPTION: {{selectedProduct.technicalDetails[0].powerConsumption}}</td>
            </tr>
            <tr>
              <td colspan="2">ELECTRICAL SYSTEMS SUPPORTED: {{selectedProduct.technicalDetails[0].electricalSystemSupported}}</td>
            </tr>
          </tbody>
        </table>
      
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xl-12 col-name-desc">
      <div class="tableheading" style="margin-left: 38px;">SPECIAL FEATURES</div>
      <ul class="lineheightul">
        <li>High grade stainless steel</li>
        <li>Ultra durable twin blades</li>
        <li>Built-in de-odouriser membrane</li>
        <li>Water and shock proof heater</li>
        <li>Automatic compost extraction</li>
        <li>Humid controlled auto process termination</li>
        <li>Maintenance free high torque planetary gear box</li>
        <li>Process notifier through tower light</li>
        <li><span itemprop="desc">Automatic Organic Waste composting machine</span></li>
      </ul>
    </div>
    </div>
   </div>
  </div>
</section>